#static {
    z-index: 1;  
  }
  #dynamic {
    z-index: 4;        
  }
  #lines {
    z-index: 3; 
  }
  #preview {
      z-index: 2;
  }
  .wrapper {
    width: 484px;
    height: 484px;
  }
  .wrapper canvas {
      position: absolute;
              top: 0;
              left: 0;
  }
  button {
    background-color: gray;
    border-style: solid;
    border-color:#14425a;
    border-width: 3px;
    border-radius: 2px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  #rotate:hover {
    transform: rotate(360deg);
    transition: 2s ease-in-out;
  }
  #Dilation:hover {
    transform: scale(1.5);
    transition: 1s ease-in-out;
  }
  #translate:hover {
    transform: translate(3px,3px);
    transition: 1s ease-in-out;
  }
  #clearcanvas {
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
    opacity: 1;
  }
  
  #clearcanvas:hover {
    opacity: 0.1;
  }
h3 {
 width: auto;
 height: 20px;
 margin-left: .10cm;
 margin-right: .10cm;
}
input {
 width:30px;
 height: 20px;
 margin:auto;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
