#static {
  z-index: 1;  
}
#dynamic {
  z-index: 4;        
}
#lines {
  z-index: 3; 
}
#preview {
  z-index: 2;
}

.canvas {
  border: 1px solid black;
  position:absolute;
  top:0;
  right:0;
}

.canvas-wrapper {
  text-align: center;
  align-items: center;
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  bottom:auto;
  display: grid;
  grid-template-columns: 484px 1fr;
  grid-template-rows: 484px 1fr;
}

button.options-button {
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px solid #000000;
  color: black;
  background-color: white;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  display:flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.2s ease-in-out; /* add transition */
}

button.options-button:hover {
  background-color: #e8e8e8; /* change background color on hover */
}

  #rotate:hover {
    transition: 2s ease-in-out;
  }
  #Dilation:hover {
    transition: 1s ease-in-out;
  }
  #translate:hover {
    transition: 1s ease-in-out;
  }
  #clearcanvas:hover {
    transition: 1s ease-in-out;
  }
  /* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin: 0px;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
h3 {
 width: auto;
 height: 20px;
 margin-left: .10cm;
 margin-right: .10cm;
}
input {
 height: 12px;
 margin:auto;
 border-width: 1px;
 max-width: 25px;
}
#material-icons-button {
  font-size: 20px;
  margin-left: 5px;
}
body {
  font-family: 'Poppins', sans-serif;
  margin:0;
}
/*nav bar code*/
nav {
  background-color: #14425a;
  color: white;
  height: 5vh;
  display: flex;
  justify-content: center;
}

.navbar-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  max-height: 40px;
}

.navbar-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-menu li {
  margin: 0 10px;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}




.Container {
    display: grid;
    grid-template-columns: 15vw 1.4fr .5fr;
    grid-template-rows: 100%;
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas: "Options Grid rightSideBar";
    height: 95vh;
  }
  

.Options {
  grid-area: Options; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width:fit-content;
  min-width: 15vw;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000; 
  height: 100%;
  overflow-y: auto; /* Add scrollbars if necessary */
}

.rightSideBar{
  grid-area: rightSideBar; 
  width: 20vw;
  overflow-y: auto; /* Add scrollbars if necessary */
  overflow-x: hidden;
  height:100%
}
.Properties {
  
}
.Grid {
  grid-area: Grid; 
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100%;
}

.rightSideBar-selector {
  display: flex;
}

.tab-btn {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.tab-btn.active {
  border-bottom: 2px solid black;
  width: 20vw;
  overflow-y: auto; /* Add scrollbars if necessary */
  overflow-x: hidden;
}

.tab-content {
  display: none; 
}

.tab-content.active {
  display: block;
}
